{% extends 'base.html' %}
{% block title %}Member Login{% endblock %}
{% block headerinfo %}
    <link href="{{ url_for('static', filename='css/member-login.css') }}" rel="stylesheet">
{% endblock %}
{% block BodyContent %}
<form class="middle">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input  id="username" name ="username" class="form-control" />
        <label class="form-label" for="username">Username</label>
      </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" name = "password" id="password" class="form-control" />
      <label class="form-label" for="password">Password</label>
    </div>
  
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="/signup">Register</a></p>
    </div>
    <div class="center invalid-container"></div>

  </form>
    <script>
        $('form').on('submit', function (e) {
            e.preventDefault();
            $('#LoadingContainer').css('display', 'flex');
            $.ajax({
                url: '/signin',
                type: 'POST',
                data: $('form').serialize(),
                success: function (response) {
                    if (response === 'failure') {
                        $('.invalid-container').empty();
                        $('.invalid-container').append('<div class=""><h3 class="text-danger">Invalid username or password!</h3></div>')
                        $('#LoadingContainer').css('display', 'none');
                    } else {
                        window.location.href = "/";
                    }
                },
                failure: function (response) {
                    $('#LoadingContainer').css('display', 'none');
                }
            })
        })
    </script>
{% endblock %}