{% extends 'base.html' %}
{% block title %}Member Login{% endblock %}
{% block headerinfo %}
    <link href="{{ url_for('static', filename='css/member-login.css') }}" rel="stylesheet">
{% endblock %}
{% block BodyContent %}
<form class="middle">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input  id="username" name ="username" class="form-control" />
        <label class="form-label" for="username">Username</label>
      </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" name = "password" id="password" class="form-control" />
      <label class="form-label" for="password">Password</label>
    </div>
    <div class="form-outline mb-4">
        <input type="password" name = "password2" id="password2" class="form-control" />
        <label class="form-label" for="password2">Retype Password</label>
    </div>
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" name = "creator" type="checkbox" id="form2Example31" />
            <label class="form-check-label" for="form2Example31">Creator Account</label>
            <!-- <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Creator Accounts" data-content="Creator Accounts restrict the user from viewing other posts as to limit distractions.">?</a> -->
          </div>
        </div>
        </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>
    
    <div class="text-center">
        <p>Already have an account? <a href="/signin">Sign In</a></p>
    </div>
    <div class="center invalid-container"></div>

    <!-- Register buttons -->
    
  </form>
    <script>
        $('.popover-dismiss').popover({
        trigger: 'focus'
        })
        $('form').on('submit', function (e) {
            e.preventDefault();
            $('#LoadingContainer').css('display', 'flex');
            $.ajax({
                url: '/signup',
                type: 'POST',
                data: $('form').serialize(),
                success: function (response) {
                    console.log("imma kill myself")
                    if (response === 'failure') {
                        $('.invalid-container').empty();
                        $('.invalid-container').append('<div class="invalid"><h3 class="text-danger">Passwords do not match.</h3></div>')
                        $('#LoadingContainer').css('display', 'none');
                    } else {
                        window.location.href = "/";
                    }
                },
                failure: function (response) {
                    $('#LoadingContainer').css('display', 'none');
                }
            })
        })
    </script>
{% endblock %}